body {
	margin-top: 20px;
}

.container{
	width: 1170px;
}

.affix {
	width: 19%;
}
.navbar-default {
	background-color: #cacaca;
}
form.navbar-form > div, form.navbar-form > button{
	margin-right: 10px;
}
.pagination > li{
	cursor: pointer;
}
.pagination{
	margin-top: 0;
}
.div-inline {
	display: inline-block;
}
body > .container{
	padding-top: 60px;
}